<%- include('partials/header_with_logout') %>
<ul style="padding: 10px;" class="list-group list-group-flush"></ul>
<% users.forEach(function(user) { %>
            <li  style="padding: 20px;" class="list-group-item"><%= user.username %>
            <form  style="float: right;"  action="/share" method="post">
                <button class="btn btn-primary" type="submit" name="button" value="share">share</button>
                <input type="hidden" name="postId" value="<%= postID %>">
                <input type="hidden" name="userId" value="<%= user._id  %>">
            </form>
        </li>
            <br>
  <% }) %>
</ul>
<%- include('partials/footer'); -%>
